.button {
    background-color: black;
    color: white;
    height: 30px;
    width: 130px;
    padding: 5px 10px;
    cursor: pointer;
}

.img{
    margin: 2px;
}

.msg{
    font-size: 8px;
}

.btn3{
    color: black;
    background-color: white;
    border: 1px solid black;
    height: 30px;
    width: 350px;
    padding: 5px 10px;
    cursor: pointer;

}
