.form{
    padding-inline: 150px; 
    
}

.btn {
    width: 350px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-bottom: 30px;
    
}

.formcontrol{
    display: flex;
    flex-direction: column;
    position: relative;
}

input:focus{
outline: 0;
}

.label1{
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: white;
}

.input1{
    width: 340px;
    margin-block: 10px;
    padding: 5px;
    margin-block: 20px;
}

.label2{
    position: absolute;
    left: 20px;
    top: 70px;
    background-color: white;
}

.input2{
    width: 340px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.textarea{
    width: 340px;
    
}

.area{
    position: absolute;
    left: 20px;
    top: 120px;
    background-color: white;
}

.flexing{
    display: flex;
    justify-content: space-between;
    
}

.contact{
    width: 300px;
    height: 300px;
}

.submit{
    margin-block: 5px ;
}

.view{
    margin: 5px;
}