
.header img{
    height: 100px;
    width: 200px;
    mix-blend-mode: multiply;
    margin: 0;

}

.image{
    height: 100px;
    width: 100px;
}

.header ul{
    display: flex;
    gap: 25px;
    padding: 15px;
list-style-type: none;
}
