*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
}

main{
    height: calc(694px-80px);
    
}


